@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  font-family: "Baloo Da 2", cursive;
}

body {
  background-color: #202124;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
